.skill-title h2{
    font-size: 40px;
    font-family: 'April16th-Promise';
    margin-bottom: 40px;
    color: white;
    text-shadow:
        0 -40px 100px,
        0 0 2px, 0 0 1em #ff4444,
        0 0 0.5em #ff4444,
        0 0 0.1em #ff4444,
        9px 9px 3px #000;
}
.skill-container img{
    width: 120px;
    margin: 30px;
}
#axios{
    width: 150px;
}
.skill-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill-img-box01,
.skill-img-box02{
    width: 400px;
}
.react-spin{
    animation: spin 12s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}