.skill-container{
    padding: 30px;
}
.skill-title h2{
    font-size: 40px;
    font-family: 'April16th-Promise';
    margin-bottom: 30px;
    color: white;
    text-shadow:
        0 -40px 100px,
        0 0 2px,
        0 0 1em #ff4444,
        0 0 0.5em #ff4444,
        0 0 0.1em #ff4444,
        9px 9px 3px #000;
}
.skill-img-container {
    display: flex;
    align-items: center;
}
.skill-container img{
    width: 180px;
    margin: 10px 25px;
}
.skill-img-box01,
.skill-img-box02{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.react-spin{
    animation: spin 12s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*반응형*/
@media (max-width: 1034px) {
.skill-container img {
        width: 80px;
        margin: 10px 25px;
    }
    .skill-title h2{
        font-size: 30px;
    }
}