.visit-container{
    padding: 30px;
}
.visit-title h2{
    font-size: 40px;
    font-family: 'April16th-Promise';
    margin-bottom: 10px;
    color: white;
    text-shadow:
    0 0 0px,
    0 0 0px, 0 0 1em #ff4444,
    0 0 0em #ff4444,
    0 0 0.1em #ff4444,
    6px 6px 2px #000;
}
/*방명록 box*/
.visit-content {
    position: sticky;
    overflow-y: auto;
    height: 430px;
    padding: 5px;
    margin: 20px 0 20px 0;
    border-bottom: 2px solid #7af7c4;
    
}
.visit-content::-webkit-scrollbar {
    width: 0;
    display: none;
}
.visit-info-comments{
    font-size: 20px;
}

/*방명록 리스트 css*/
.visitor-list ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.visitor-list li{
    width: 45.5%;
    color: white;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow:
        0 0 5px #7af7c4,
        0 0 5px #7af7c4,
        0 0 5px #7af7c4,
        0 0 5px #7af7c4,
        0 0 0px rgba(122, 247, 196, 0.3);
}
.visit-info-title span{
    color: #7af7c4;
}
.visit-info-title-date{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 17px;
}
.visit-info-date{
    margin-right: 20px;
}
.visit-info-date,
.visit-info-comments{
    background: none;
    border: none;
}

/*방문자기록칸*/
.visit-add-info-content{
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}
.visit-add-info{
    width: 45.5%;
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px rgba(122, 247, 196, 0.3);
}
.visit-add-info-comments{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}
.visit-add-info-title-date{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}
.visit-add-info-date{
    margin-right: 20px;
    border: none;
}
.visit-add-info-name{
    background: none;
    border: none;
    color: #7af7c4;
    width: 50px;
    margin-right: 10px;
    font-size: 17px;
}
.visit-add-info-button{
    font-size: 12px;
    font-weight: 700;
    color: #7af7c4;
    border: none;
    background: none;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #7af7c4;;
}
.visit-add-info-button:hover{
    color: black;
    background-color: #7af7c4;
    box-shadow:
        0 0 5px #7af7c4,
        0 0 5px #7af7c4,
        0 0 5px #7af7c4,
        0 0 50px #7af7c4,
        0 0 100px rgba(122, 247, 196, 0.3);
}

/*반응형*/
@media (max-width: 1100px) {
    .visit-content{
        height: 370px;
        margin: 13px 0;
    }
    .visitor-list ul {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .visit-title h2{
        font-size: 25px;
    }
    .visitor-list li {
        width: 180px;
    }
    .visit-add-info {
        width: 180px;
    }
    .visit-add-info-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .visit-add-info-title-date,
    .visit-info-title-date{
        font-size: 8.5px;
    }
    .visit-add-info-comments,
    .visit-info-comments{
        font-size: 13px;
    }
}