.off-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.off-container h1 {
    position: absolute;
    font-size: 5.5rem;
    font-family: 'April16th-Promise';
    color: #20f5a0;
    animation: text-flicker 3s linear infinite;
    position: absolute;
}
.noise{
    width: 99.6%;
    height: 530px;
    background-image: url(http://klevinskaitej.files.wordpress.com/2012/11/noise1.gif);
    opacity: 0.1;
}