/*스크롤후*/
.neondown-conatainer,
.flip-vertical {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    position: absolute;
    top: 230px;
    right: 70px;
}
.neondown-conatainer svg,
.flip-vertical svg {
    color: #7af7c4;
    margin: 15px 0;
}

.flip-vertical svg:nth-child(1) {
    animation: neondown-blink 0.5s infinite alternate;
    transform: scaleY(-1);
}
.flip-vertical svg:nth-child(2){
    opacity: 0.1;
}

/*네온다운 효과*/
.neondown-conatainer svg:nth-child(1) {
    opacity: 0.1;
    transform: scaleY(-1);
}

.neondown-conatainer svg:nth-child(2) {
    animation: neondown-blink 0.5s infinite alternate;
}


/*네온다운 애니메이션*/
@keyframes neondown-blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}