/*스크롤후*/
.flip-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    transform: scaleY(-1);
}
.flip-vertical svg{
    color: #7af7c4;
    margin: -8px;
    animation: neon-blink 0.3s infinite alternate;
}
@keyframes neon-blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        text-shadow: none;
    }
}