.about-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

/*제목관련 css*/
.about-info-title {
    font-size: 36px;
    border-bottom: 1px solid;
    padding: 0 0 20px;
    position: sticky;
    top: 0;
    color: #20f5a0;
    background-color: rgb(51,51,51);
    z-index: 999;
}
.about-info-title span,
.about-info-title p:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-info-content::-webkit-scrollbar {
    display: none;
}
/*나를소개 기어*/
.about-info-title span {
    position: absolute;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
}

.about-img img {
    width: 450px;
    border-radius: 30px;
}

/*나를소개 css*/
.about-info-content {
    font-size: 1.55rem;
    overflow-y: auto;
    font-family: 'TTHakgyoansimUndongjangL';
    margin-left: 50px;
    width: 540px;
}
/*인포01*/
.about-info01{
    margin-top: 60px;
    height: 410px;
}
.about-info01 p{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.about-info01 p:nth-child(2) {
    margin-bottom: 30px;
}
.about-info01-span01{
    padding: 0 0 5px;
    font-size: 36px;
    border-bottom: 5px solid yellow;
    text-shadow:
    0px 0px 0px, 0 0 2px,
    0 0 0em #66ff66,
    0 0 1em #66ff66,
    0 0 0.1em #66ff66,
    0 0 0px #004400;
    animation: text-flicker 3s linear;
}
.about-info01-span02{
    font-size: 28px;
    margin: 5px;
    border: 1px solid ;
    border-radius: 10px;
    color: #20f5a0;
    padding: 5px;
    animation: text-flicker 3s linear infinite;
}
/*인포02*/
.about-info02{
    color: white;
    height: 300px;
}
.about-info02 h2{
    text-align: center;
    margin-bottom: 40px;
}
.about-info02 h2 span {
    padding: 0 0 5px;
    border-bottom: 5px solid transparent;
}
.about-info02 p {
    margin-top: 15px;
    overflow: hidden;
}
.about-info02 a{
    font-size: 20px;
    color: #0066ff;
    text-shadow: 0px 0px 29px rgba(122, 247, 196, 1);
    animation: text-flicker 2s linear;
}
.about-info02-span01{
    font-size: 28px;
    text-shadow: 0px 0px 29px rgba(122, 247, 196, 1);
    animation: text-flicker 4s linear;
}
.about-info02-span02{
    font-size: 28px;
    text-shadow: 0px 0px 29px rgba(122, 247, 196, 1);
    animation: text-flicker 3s linear;
}
.about-info02-span03 {
    font-size: 28px;
    text-shadow: 0px 0px 29px rgba(122, 247, 196, 1);
    animation: text-flicker 3.5s linear;
}
.about-info02-span04 {
    font-size: 28px;
    text-shadow: 0px 0px 29px rgba(122, 247, 196, 1);
    animation: text-flicker 4.5s linear;
}
/*인포3*/
.about-info03{
    height: 320px;
    color: white;
}
.about-info03 h2{
    text-align: center;
    margin: 70px 0 40px 0;
}
.about-info03 p{
    margin-top: 20px;
}

/*인포02*/
.about-info02-title-scorll {
    transition: color 1.75s ease;
    color: #ffff00;
    animation: text-flicker-yellow 3s linear infinite;
}
.about-info03-title-scorll {
    transition: color 1.75s ease;
    text-shadow:
        0 0 0,
        0 0 2px, 0 0 1em #ff4444,
        0 0 0.5em #ff4444,
        0 0 0.1em #ff4444,
        0 10px 3px #000;
    animation: text-flicker-red 1.5s linear;
}

.about-info02 p.about-info02-p01-scorll{
    position: relative;
    left: 10px;
    transition: left 0.5s ease;
}
.about-info02 p.about-info02-p01-scorll-after{
    position: relative;
    left: -490px;
    transition: left 0.5s ease;
}
.about-info02 p.about-info02-p02-scorll{
    position: relative;
    left: 10px;
    transition: left 0.8s ease;
}
.about-info02 p.about-info02-p02-scorll-after {
    position: relative;
    left: -490px;
    transition: left 0.8s ease;
}
.about-info02 p.about-info02-p03-scorll{
    position: relative;
    left: 10px;
    transition: left 1.2s ease;
}
.about-info02 p.about-info02-p03-scorll-after {
    position: relative;
    left: -490px;
    transition: left 1.2s ease;
}
.about-info02 p.about-info02-p04-scorll{
    position: relative;
    left: 10px;
    transition: left 1.5s ease;
}
.about-info02 p.about-info02-p04-scorll-after {
    position: relative;
    left: -490px;
    transition: left 1.5s ease;
}
.about-info02 p.about-info02-p05-scorll{
    position: relative;
    left: 10px;
    transition: left 1.8s ease;
}
.about-info02 p.about-info02-p05-scorll-after {
    position: relative;
    left: -490px;
    transition: left 1.8s ease;
}

.about-info03-span {
    position: relative;
    
}
.about-info03-span.underline::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    display: inline-block;
    content: "";
    border-bottom: 5px solid yellow;
    animation: drawUnderline 2s forwards;;
}

@keyframes drawUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/*텍스트네온 옐로*/
@keyframes text-flicker-yellow {
    0% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    2% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    8% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    9% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    12% {
        opacity: 0.1;
        text-shadow: 0px 0px rgba(255, 255, 0, 1);
    }

    20% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    25% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    30% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    70% {
        opacity: 0.7;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    72% {
        opacity: 0.2;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    77% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1);
    }

    100% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgba(255, 255, 0, 1)
    }
}
/*텍스트네온 레드*/
@keyframes text-flicker-red {
    0% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    2% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    8% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    9% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    12% {
        opacity: 0.1;
        text-shadow: 0px 0px rgba(255, 0, 0, 1);
    }

    20% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    25% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    30% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    70% {
        opacity: 0.7;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    72% {
        opacity: 0.2;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    77% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1);
    }

    100% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgba(255, 0, 0, 1)
    }
}
/*네온다운 효과*/
.neondown-conatainer {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: flex-end;
}

.neondown-conatainer svg {
    color: #7af7c4;
    margin: -8px;
    animation: neon-blink 0.3s infinite alternate;
}

.neondown-conatainer svg:nth-child(1) {
    animation-delay: 0.1s;
}

.neondown-conatainer svg:nth-child(2) {
    animation-delay: 0.2s;
}

.neondown-conatainer svg:nth-child(3) {
    animation-delay: 0.3s;
}