* {
  margin: 0;
  padding: 0;
}
/*빙그레폰트*/
@font-face {
  font-family: "BinggraeII-Bold";
  src: url(../public/font/BinggraeII-Bold.ttf);
}
/*마이인포 폰트*/
@font-face {
  font-family: 'April16th-Promise';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

/*네온폰트*/
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}